<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.multi.aop.model.mapper.MemberMapper">

	<select id="selectAll" resultType="com.multi.aop.model.vo.Member" >
		SELECT * FROM member
	</select>

	<select id="selectById" resultType="com.multi.aop.model.vo.Member" parameterType="string" >
		SELECT * FROM member WHERE id = #{id}
	</select>
	

	<insert id="insertMember" parameterType="com.multi.aop.model.vo.Member">
		<selectKey keyProperty="mno" resultType="int" order="AFTER">
			SELECT @@IDENTITY AS mno
		</selectKey>
		INSERT INTO member(mno, id, pw, name, age, address)
		VALUES(default, #{id}, #{pw}, #{name}, #{age}, #{address});
	</insert>

</mapper>