<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
</head>
<body>
    <h3>1. v-model (component two-way binding) </h3>
    <div>- vue에서 컴포넌트 기반으로 양방향 상호 작용이 가능한 문법 </div>
    <div>- 이벤트를 통해 변경된 값을 감지하여 vue(VDOM) 내부 변수와 양방향 바인딩 </div>
    <div>- https://ko.vuejs.org/guide/essentials/forms.html</div>
    <br>
    <div id="app">
        <input type="text" v-model="inputValue">
        <br>
        입력한 내용 : <span>{{inputValue}}</span>
    </div>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name: "App",
            data() {
                return { inputValue: "" };
            },
        }).mount("#app");
    </script>
    <hr><br>
    
    <h3>checkbox/radio/select layout 적용</h3>
    <div id="app2">
        <h4>취미 생활</h4>
        <input type="checkbox" id="hobbyA" value="A" v-model="hobby">
        <label for="hobbyA">운동</label><br>
        <input type="checkbox" id="hobbyB" value="B" v-model="hobby">
        <label for="hobbyB">독서</label><br>
        <input type="checkbox" id="hobbyC" value="C" v-model="hobby">
        <label for="hobbyC">음악</label><br>
        <input type="checkbox" id="hobbyD" value="D" v-model="hobby">
        <label for="hobbyD">영화보기</label><br>
        <br><br>

        <h4>라디오 버튼</h4>
        <input type="radio" id="one" value="one" v-model="picked">
        <label for="one">One</label><br>
        <input type="radio" id="two" value="two" v-model="picked">
        <label for="two">Two</label><br>

        <h4>상품 분류 선택</h4>
        <select v-model="category">
            <option value="">---상품 분류를 선택----</option>
            <option value="C01">레저</option>
            <option value="C02">가전</option>
            <option value="C03">음식</option>
            <option value="C04">도서</option>
        </select>
        <br><br>
        <div>
            선택한 취미 : {{hobby.sort().join(',')}}<br>
            라디오 버튼 : {{picked}}<br>
            상품 분류 : {{category}}<br>
        </div>
    </div>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name: "App",
            data() {
                return {
                    picked:'one',
                    hobby:['A','C'],
                    category:''
                };
            },
        }).mount("#app2");
    </script>
    <hr><br>

    <h3>true-value, false-value 속성</h3>
    <div> - checkbox의 경우 체크 값에 대한 속성으로 값을 가져올수 있다.</div>
    <br>
    <div id="app3">
        위의 내용에 동의하십니까?
        <input type="checkbox" v-model="agree" true-value="yes" false-value="no" />
        <hr />
        <span>선택된 값 : {{agree}}</span>
    </div>
    <script type="text/javascript">
        var model = { message: "Hello Vue3!" };
        var vm = Vue.createApp({
            name: "App",
            data() {
                return {
                    agree: "no",
                };
            },
        }).mount("#app3");
    </script>
    <hr><br>
    
    <h3>Modifiers</h3>
    <div>- event가 감지된 이후 적용할 값에 대한 후처리 기능도 지원</div>
    <div>- lazy: 포커스가 이동하는 이벤트 발생시 데이터 동기화</div>
    <div>- number: 입력시 number타입으로 자동형변환</div>
    <div>- trim: 문자열의 앞뒤 문자열 제거</div>
    <br>
    <h3>숫자 변환</h3>
    <div id="app4">
        <input type="text" v-model.number="num" /><br />
        number : <span>{{ num }}</span><br>
        <input type="text" v-model.trim="trimStr" /><br />
        trim : <span>{{ trimStr }}</span><br>
    </div>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name: "App",
            data() {
                return { 
                    num: 0, 
                    trimStr: ''
                };
            },
        }).mount("#app4");
    </script>
    <hr><br>

    
    <h3>한글처리 문제</h3>
    <div>- 한글입력이 잘 먹히지 않는 경우 event를 직접 감지하여 입력값으로 활용</div>
    <br>

    <div id="app5">
        <input id="a" type="text" :value="name" @input="changeName" />
        <br />
        입력하신 이름 : <span>{{name}}</span>
    </div>
    <script type="text/javascript">
        var vm = Vue.createApp({
            name: "App",
            data() {
                return { name: "" };
            },
            methods: {
                changeName(e) {
                    this.name = e.target.value;
                },
            },
        }).mount("#app5");
    </script>
    <hr><br>

    <br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br>

</body>
</html>