<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <br>
        <h2>Form - Post Test 페이지</h2>
        <br>
        
        <form action="/post_result" method="POST">
            ID <input type="text" name="id" value="test"><br> 
            PASSWORD <input type="password" name="pw" value="12345678"><br> 
            NAME <input type="text" name="mname" value="홍길동"><br> 
            AGE <input type="text" name="age" value="31"><br>
            <input class="btn" type="submit" value="확인">
        </form>
    </div>
</body>
</html>